<app-header></app-header>>
<div class="gridcontainer">
    <div class="logo">
        <img src="assets/img/logoweiss.png">
    </div>
    <div class="text">
        <p class="überschrift">
            Meet Meat – Was ist das?

        </p>
        <p class="fließtext">
            Unsere Meet Meat Produkte sind eine Kombination aus hochwertigem Fleisch und pflanzlichen Proteinen.
            Durch den teilweisen Austausch der tierischen Produkte kann der Fleischanteil verringert werden, die
            typische Sensorik jedoch größtenteils erhalten bleiben. Unser eingesetztes Fleisch hat eine hohe
            Qualität und die Tierhaltung erfolgt über die gesetzlichen Standards hinaus.
            Unsere Produkte sind also für alle, die etwas für die Nachhaltigkeit und das Tierwohl tun möchten, ohne
            auf den Fleischgeschmack verzichten zu müssen und das Ganze auch noch für einen fairen Preis!

        </p>
    </div>


    <div class="werte">
        <div class="nachhaltigkeit">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/Nachhaltigkeit.jpg" alt="Avatar"
                            style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Nachhaltigkeit</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="regionalität">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/soja.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Regionalität</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tierwohl">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/schweinchen.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Tierwohl</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=innovation>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/Kuh.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Innovation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>