@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap");
@import "/src/app/header.scss";

$fontsizeHeading: 1.8rem;
$fontsizeFließtext: 1.2rem;
$fontsizeHeadinggroß: 5rem;
$fontsizeFließtextgroß: 3rem;
$Abstandfließtext: 15px;
$Abstandfließtextgroß: 100px;

.gridcontainer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo" "text" "werte";
    position: absolute;
    top: 80px;
}

.logo {
    grid-area: logo;
}
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.überschrift {
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 600;
}

.fließtext {
    text-align: justify;
    margin: 0 $Abstandfließtext;
    font-family: "Rajdhani", sans-serif;
}

.werte {
    grid-area: werte;
    display: grid;
    margin: 40px auto 0 auto;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 45vw 45vw;
    grid-template-areas: "nachhaltigkeit nachhaltigkeit_text" "regionalität_text regionalität" "tierwohl tierwohl_text" "innovation_text innovation";
}

.nachhaltigkeit img {
    grid-area: nachhaltigkeit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.nachhaltigkeit_text {
    grid-area: nachhaltigkeit_text;
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.regionalität img {
    grid-area: regionalität;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.regionalität_text {
    grid-area: regionalität_text;
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.tierwohl img {
    grid-area: tierwohl;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.tierwohl_text {
    grid-area: tierwohl_text;
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.innovation img {
    grid-area: innovation;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.innovation_text {
    grid-area: innovation_text;  
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.box {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 12px;
}

.textzentrierer {
    height:100%; width:100%;
    display: table;
}

.textzentrierer p{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.textgrößeüberschriften {
    font-size: $fontsizeHeading;
}

.textgrößefießtext {
    font-size: $fontsizeFließtext;
}

.nobr {
    white-space: nowrap;
}

@media only screen and (min-width: 1200px) {
    .textgrößeüberschriften {
        font-size: $fontsizeHeadinggroß;
    }

    .textgrößefießtext {
        font-size: $fontsizeFließtextgroß;
    }
    
    .fließtext {
        text-align: justify;
        padding: 0 20px;
        margin: 0 $Abstandfließtextgroß;
        font-family: "Rajdhani", sans-serif;
    }    
    
}
