<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/logograu.png">
    </div>

    <div class="start current">
        <a>Start</a>
    </div>

    <div class="wir">
        <a routerLink="/UeberUns">Das sind wir!</a>
    </div>

    <div class="bratwurst">
        <a routerLink="/Bratwurst-Pro">Bratwurst-Pro</a>
    </div>

</div>

<div class="gridcontainer">
    <div class="logo">
        <img src="assets/img/logoweiss.png">
    </div>
    
    <div class="text">
        <p class="überschrift textgrößeüberschriften">
            Meet Meat – Was ist das?

        </p>
        <p class="fließtext textgrößefießtext">
            Unsere Meet Meat Produkte sind eine Kom&shy;bination aus <b>hoch&shy;wertigem Fleisch</b> und <b>pflanz&shy;lichen Pro&shy;teinen</b>.
            Durch den teilweisen Aus&shy;tausch der tierischen Produkte kann der <b>Fleisch&shy;anteil verringert</b> werden, die
            <b>typische Sensorik</b> jedoch größten&shy;teils erhalten bleiben. Unser eingesetztes Fleisch hat eine <b>hohe
            Qualität</b> und die <b>Tier&shy;haltung</b> erfolgt über die gesetzlichen Standards hinaus.
            Unsere Produkte sind also für alle, die etwas für die <b>Nachhaltigkeit</b> und das <b>Tierwohl</b> tun möchten, <b>ohne</b>
            auf den Fleisch&shy;geschmack <b>verzichten</b> zu müssen und das Ganze auch noch für einen <b>fairen Preis</b>!

        </p>
    </div>


    <div class="werte">
        <div class="nachhaltigkeit">
          <img class="box" src="assets/img/Nachhaltigkeit.jpg">
       </div>
       <div class="nachhaltigkeit_text textzentrierer textgrößefießtext">
           <p>Nachhaltigkeit</p>
       </div>
        <div class="regionalität">
          <img class="box" src="assets/img/soja.jpg">
        </div>
        <div class="regionalität_text textzentrierer textgrößefießtext">
            <p>Regionalität</p>
        </div>
        <div class="tierwohl">
            <img class="box" src="assets/img/schweinchen.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>
        <div class="tierwohl_text textzentrierer textgrößefießtext">
            <p>Tierwohl</p>
        </div>
        <div class="innovation">
         <img class="box" src="assets/img/innovation.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>
        <div class="innovation_text textzentrierer textgrößefießtext">
            <p>Innovation</p>
        </div>
    </div>

    <div class="bottom">

        <div class="Impressum">
            <a routerLink="/Impressum">Impressum</a>
        </div>

    </div>

</div>

<router-outlet></router-outlet>