<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/logograu.png">
    </div>

    <div class="start">
        <a routerLink="/Start">Start</a>
    </div>

    <div class="wir">
        <a routerLink="/UeberUns">Das sind wir!</a>
    </div>

    <div class="bratwurst current">
        <a>Bratwurst-Pro</a>
    </div>

</div>

<div class="gridcontainer">
    <div class="bratwurstnatur">
        <img src="assets/img/Bratwurstnatur.JPG">
    </div>

    <div class="bratwurstpro_überschrift">
        <b>Bratwurst-Pro!</b>
    </div>

    <div class="bratwurstpro_text">
        Die Innovation für eine ökologische Bratwurst bei der ein Teil des Fleisches durch pflanzliche Proteine ersetzt
        ist.
    </div>

    <div class="inhaltsstoffe_überschrift">
        Was steckt alles drin?
    </div>

    <div class="inhaltsstoffe_übersicht">
        <div class="wasser">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/Wasser.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Wasser</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="schweinefleisch">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/schweinchen.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Schweinefleisch (27 %), Schweinefett (12 %)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sojaisolat">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/soja.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p><b>Sojaisolat</b>></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="kartoffelstärke">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/Kartoffeln.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Kartoffelstärke</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sonnenblumenöl">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/Sonnenblume.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Sonnenblumenöl</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=gewürze>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="box" src="assets/img/Gewürze.jpg" alt="Avatar" style="width:40vw;height:40vw;">
                    </div>
                    <div class="flip-card-back">
                        <p>Salz, Gewürze (<b>Sellerie, Senf</b>), Stabilisator, Methylcellulose, Phosphat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="zubereitungshinweise_überschrift">
        Zubereitungshinweise
    </div>

    <div class="zubereitungshinweise_übersicht">
        Unsere Bratwurt-Pro ist vorgebrüht und damit direkt verzehrsfähig. Wir empfehlen aber dennoch ein andraten in
        der Pfanne oder auf dem Grill.
    </div>

    <div class="schlusswort">
        Guten Appetit wünscht das Team von Meet Meat!!
    </div>

</div>