<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/logograu.png">
    </div>

    <div class="start">
        <a routerLink="/Start">Start</a>
    </div>

    <div class="wir">
        <a routerLink="/UeberUns">Das sind wir!</a>
    </div>

    <div class="bratwurst current">
        <a>Bratwurst-Pro</a>
    </div>

</div>

<div class="gridcontainer">
    <div class="bratwurstnatur">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-YZKgTnWJd0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>

    <div class="bratwurstpro_überschrift  textgrößeüberschriften">
        <b>Bratwurst-Pro!</b>
    </div>

    <div class="bratwurstpro_text textgrößefießtext">
        Die Innovation für eine ökologische Bratwurst bei der ein Teil des Fleisches durch pflanzliche Proteine ersetzt
        ist.
    </div>

    <div class="inhaltsstoffe_überschrift  textgrößeüberschriften">
        Was steckt alles drin?
    </div>

    <div class="inhaltsstoffe_übersicht">
        <div class="wasser">
            <img class="box" src="assets/img/Wasser.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>

        <div class="wasser_text textzentrierer textgrößezutaten">
            <p>Wasser</p>
        </div>

        <div class="schweinefleisch">
            <img class="box" src="assets/img/schweinchen.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>

        <div class="schweinefleisch_text textzentrierer textgrößezutaten">
            <p>Schweinefleisch (27 %), Schweinefett (12 %)</p>
        </div>

        <div class="sojaisolat">
            <img class="box" src="assets/img/soja.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>

        <div class="sojaisolat_text textzentrierer textgrößezutaten">
            <p><b>Sojaisolat</b></p>
        </div>

        <div class="kartoffelstärke">
            <img class="box" src="assets/img/Kartoffeln.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>

        <div class="kartoffelstärke_text textzentrierer textgrößezutaten">
            <p>Kartoffelstärke</p>
        </div>

        <div class="sonnenblumenöl">
            <img class="box" src="assets/img/Sonnenblume.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>

        <div class="sonnenblumenöl_text textzentrierer textgrößezutaten">
            <p>Sonnenblumenöl</p>
        </div>

        <div class=gewürze>
            <img class="box" src="assets/img/Gewürze.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>

        <div class="gewürze_text textzentrierer textgrößezutaten">
            <p>Salz, Gewürze (<b>Sellerie, Senf</b>)</p>
        </div>

        <div class=hilfsmittel>
            <img class="box" src="assets/img/Zahnräder.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>

        <div class="hilfsmittel_text textzentrierer textgrößezutaten">
            <p>Stabilisator, Methylcellulose, Phosphat</p>
        </div>

    </div>

    <div class="zubereitungshinweise_überschrift textgrößeüberschriften">
        Zubereitungshinweise
    </div>

    <div class="zubereitungshinweise_übersicht textgrößefießtext">
        Unsere Bratwurt-Pro ist vor&shy;gebrüht und damit direkt verzehrs&shy;fähig. Wir empfehlen aber dennoch ein
        Anbraten in
        der Pfanne oder auf dem Grill.
    </div>

    <div class="schlusswort textgrößeüberschriften">
        Guten Appetit wünscht das Team von Meet Meat!!
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PZDBQtGkspY" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <div class="bottom">

        <div class="Impressum current">
            <a routerLink="/Impressum">Impressum</a>
        </div>

    </div>



</div>