@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap");
@import "/src/app/header.scss";

$fontsizeHeading: 2rem;
$fontsizeFließtext: 1.2rem;
$fontsizeZutaten : 1.4rem;
$fontsizeHeadinggroß: 6rem;
$fontsizeFließtextgroß: 4rem;
$fontsizeZutatengroß: 4rem;
$Abstandfließtext: 15px;
$Abstandfließtextgroß: 100px;

.gridcontainer {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: "bratwurstnatur" "bratwurstpro_überschrift" "bratwurstpro_text" "inhaltsstoffe_überschrift" "inhaltsstoffe_übersicht" "zubereitungshinweise_überschrift" "zubereitungshinweise_übersicht" "schlusswort";
    position: absolute;
    top: 80px;
    grid-row-gap: 15px;
}

.bratwurstnatur {
   grid-area: bratwurstnatur;
}

.bratwurstnatur img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 90%;
    border-radius: 8px;
    border: 2px solid $meetmeatmaingray;
}

.bratwurstpro_überschrift {
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 600;

}

.bratwurstpro_text {
    text-align: justify;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 5%;
    font-family: "Rajdhani", sans-serif;
}

.inhaltsstoffe_überschrift {
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 600;

}

.inhaltsstoffe_übersicht {
    grid-area: inhaltsstoffe_übersicht;
    display: grid;
    margin: 40px auto 0 auto;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 45vw 45vw 45vw 45vw 45vw 45vw 45vw;
    grid-template-areas: "wasser wasser_text" 
    "schweinefleisch_text schweinefleisch" 
    "sojaisolat sojaisolat_text"
    "kartoffelstärke_text kartoffelstärke" 
    "sonnenblumenöl sonnenblumenöl_text"
    "gewürze_text gewürze" 
    "hilfsmittel hilfsmittel_text";
    grid-row-gap: 20px;
}

.wasser img {
    grid-area: wasser;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.wasser_text {
    grid-area: wasser_text;  
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.schweinefleisch  {
    grid-area: schweinefleisch;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.schweinefleisch_text {
    grid-area: schweinefleisch_text;  
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.sojaisolat {
    grid-area: sojaisolat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.sojaisolat_text {
    grid-area: sojaisolat_text;  
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.kartoffelstärke {
    grid-area: kartoffelstärke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.kartoffelstärke_text {
    grid-area: kartoffelstärke_text;  
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.sonnenblumenöl {
    grid-area: sonnenblumenöl;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.sonnenblumenöl_text {
    grid-area: sonnenblumenöl_text;  
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.gewürze {
    grid-area: gewürze;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.gewürze_text {
    grid-area: gewürze_text;  
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}

.hilfsmittel {
    grid-area: hilfsmittel;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.hilfsmittel_text {
    grid-area: hilfsmittel_text;  
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 500;
}


.box {
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   
    border-radius: 12px;
}

.textzentrierer {
    height:100%; width:100%;
    display: table;
}

.textzentrierer p{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.zubereitungshinweise_überschrift {
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 600;
}

.zubereitungshinweise_übersicht {
    text-align: justify;
    padding: 0 20px;
    font-family: "Rajdhani", sans-serif;
}

.schlusswort {
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 600;
}

.textgrößeüberschriften {
    font-size: $fontsizeHeading;
}

.textgrößefießtext {
    font-size: $fontsizeFließtext;
    margin: $Abstandfließtext;
}

.textgrößezutaten {
    font-size: $fontsizeZutaten;
}

@media only screen and (min-width: 1000px) {

    .inhaltsstoffe_übersicht {
        grid-area: inhaltsstoffe_übersicht;
        display: grid;
        margin: 40px auto 0 auto;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 45vw 45vw 45vw 45vw 45vw 45vw 45vw;
        grid-template-areas: "wasser wasser_text" 
        "schweinefleisch_text schweinefleisch" 
        "sojaisolat sojaisolat_text"
        "kartoffelstärke_text kartoffelstärke" 
        "sonnenblumenöl sonnenblumenöl_text"
        "gewürze_text gewürze" 
        "hilfsmittel hilfsmittel_text";
        grid-row-gap: 20px;
    }
    
    .textgrößeüberschriften {
        font-size: $fontsizeHeadinggroß;
    }

    .textgrößefießtext {
        font-size: $fontsizeFließtextgroß;
        margin: $Abstandfließtextgroß;
    }
    
    .textgrößezutaten {
        font-size: $fontsizeZutatengroß;
    }
}