<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/logograu.png">
    </div>

    <div class="start">
        <a routerLink="/Start">Start</a>
    </div>

    <div class="wir current">
        <a>Das sind wir!</a>
    </div>

    <div class="bratwurst">
        <a routerLink="/Bratwurst-Pro">Bratwurst-Pro</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N4fBGD0mbn4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="team_überschrift textgrößeüberschriften">
        Das ist unser Team!
    </div>

    <div class="team_übersicht textgrößefießtext">
        Wir sind eine Gruppe von vier Studierenden der Lebensmitteltechnologie an der TH OWL und entwickeln aktuell unser eigenes Produkt. Wir sind täglich damit beschäftigt, dir das Fleischerlebnis bei gleichzeitiger Fleischreduktion zu ermöglichen. Und dies gelingt uns auch schon ziemlich gut! 
    </div>

    <div class="vorstellung">
        <div class="helene">
          <img class="box" src="assets/img/Nachhaltigkeit.jpg">
       </div>
       <div class="helene_text textzentrierer textgrößefießtext">
           <p>Helene Winter</p>
           <p class= "merkmalschrift">- Filmmakerin!</p>
       </div>

        <div class="jp">
          <img class="box" src="assets/img/soja.jpg">
        </div>
        <div class="jp_text textzentrierer textgrößefießtext">
            <p>Jan-Philipp Tönebön</p>
            <p class= "merkmalschrift">- Hahn im Korb!</p>
        </div>

        <div class="esther">
            <img class="box" src="assets/img/schweinchen.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>
        <div class="esther_text textzentrierer textgrößefießtext">
            <p>Esther Gröne</p>
            <p class= "merkmalschrift">- Mag Kickboxen!</p>
        </div>

        <div class="janna">
         <img class="box" src="assets/img/innovation.jpg" alt="Avatar" style="width:40vw;height:40vw;">
        </div>
        <div class="janna_text textzentrierer textgrößefießtext">
            <p>Janna Tholen</p>
            <p class= "merkmalschrift">- Liebt Schoki!</p>
        </div>

    </div>

</div>    
