<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/logograu.png">
    </div>

    <div class="start">
        <a routerLink="/Start">Start</a>
    </div>

    <div class="wir current">
        <a>Das sind wir!</a>
    </div>

    <div class="bratwurst">
        <a routerLink="/Bratwurst-Pro">Bratwurst-Pro</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N4fBGD0mbn4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="team_überschrift textgrößeüberschriften">
        Das ist unser Team!
    </div>

    <div class="team_übersicht textgrößefießtext">
        4 Bilder
    </div>

    <div class="werte_überschrift textgrößeüberschriften">
        Das ist uns wichtig bei Meet Meat!
    </div>

    <div class="werte_übersicht textgrößefießtext">
        unsere Werte
    </div>

</div>    
