@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap");
@import "/src/app/header.scss";

$fontsizeHeading: 2rem;
$fontsizeFließtext: 1.2rem;
$fontsizeHeadinggroß: 6rem;
$fontsizeFließtextgroß: 4rem;


.gridcontainer {
    display: grid;
    grid-template-rows: auto auto auto auto auto ;
    grid-template-areas: "video" "team_überschrift" "team_übersicht" "werte_überschrift" "werte_übersicht";
    position: absolute;
    top: 90px;
}


.video {
    grid-area: video;
    width: 100%;
    height: 200px;
    margin: auto;
}

.video iframe {
    width: 100%;
    height: 100%;
}

.team_überschrift {
    grid-area: team_überschrift;
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 600;
}

.team_übersicht {
    grid-area: team_übersicht;
    text-align: justify;
    padding: 0 20px;
    font-family: "Rajdhani", sans-serif;
}

.werte_überschrift {
    grid-area: werte_überschrift;
    text-align: center;
    color: #64bc45;
    font-family: "Indie Flower";
    font-weight: 600;
}

.werte_übersicht {
    grid-area: werte_übersicht;
    text-align: justify;
    padding: 0 20px;
    font-family: "Rajdhani", sans-serif;
}

.textgrößeüberschriften {
    font-size: $fontsizeHeading;
}

.textgrößefießtext {
    font-size: $fontsizeFließtext;
}

@media only screen and (min-width: 1000px) {
   
    .textgrößeüberschriften {
        font-size: $fontsizeHeadinggroß;
    }

    .textgrößefießtext {
        font-size: $fontsizeFließtextgroß;
    }
    
}