<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/logograu.png">
    </div>

    <div class="start">
        <a routerLink="/Start">Start</a>
    </div>

    <div class="wir current">
        <a>Das sind wir!</a>
    </div>

    <div class="bratwurst">
        <a routerLink="/Bratwurst-Pro">Bratwurst-Pro</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N4fBGD0mbn4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="team_überschrift textgrößeüberschriften">
        Das ist unser Team!
    </div>

    <div class="team_übersicht textgrößefießtext">
        Wir sind eine Gruppe von vier Studierenden der Lebens&shy;mittel&shy;technologie an der TH OWL und entwickeln
        aktuell unser eigenes Produkt. Täglich sind wir damit beschäftigt, dir das Fleischerlebnis bei gleichzeitiger
        Fleischreduktion zu ermöglichen. Und dies gelingt uns auch schon ziemlich gut!
    </div>

    <div class="vorstellung">
        <div class="helene center">
            <img class="box" src="assets/img/Helene.jpg">
        </div>
        <div class="helene_text textzentrierer textgrößefießtext textbox">
            <div class="spacing_oben"></div>
            <div class="obere_Zeile">
                <p>Helene Winter</p>
            </div>
            <div class="untere_Zeile">
                <p class="merkmalschrift">
                    "Mit nur ein paar Klicks können wir alles darstellen, was wir uns vorstellen!"
                </p>
            </div>
            <div class="spacing_unten"></div>
        </div>

        <div class="jp center">
            <img class="box" src="assets/img/JP.jpeg">
        </div>
        <div class="jp_text textzentrierer textgrößefießtext textbox">
            <div class="spacing_oben"></div>
            <div class="obere_Zeile">
                <p>Jan-Philipp Tönebön</p>
            </div>
            <div class="untere_Zeile">
                <p class="merkmalschrift">"Als Hahn im Korb weiß ich wie der Hase läuft!"</p>
            </div>
            <div class="spacing_unten"></div>
        </div>

        <div class="esther center">
            <img class="box" src="assets/img/Esther.jpg">
        </div>
        <div class="esther_text textzentrierer textgrößefießtext textbox">
            <div class="spacing_oben"></div>
            <div class="obere_Zeile">
                <p>Esther Gröne</p>
            </div>
            <div class="untere_Zeile">
                <p class="merkmalschrift">"Mit einem Denkersmiley wirkt doch alles viel freundlicher!"</p>
            </div>
            <div class="spacing_unten"></div>
        </div>

        <div class="janna center">
            <img class="box" src="assets/img/Janna.jpg">
        </div>
        <div class="janna_text textzentrierer textgrößefießtext textbox">
            <div class="spacing_oben"></div>
            <div class="obere_Zeile">
                <p>Janna Tholen</p>
            </div>
            <div class="untere_Zeile">
                <p class="merkmalschrift">"Mit Schokolade und Kakao ist man einfach produktiver!"</p>
            </div>
            <div class="spacing_unten"></div>
        </div>

    </div>

    <div class="bottom">

        <div class="Impressum current">
            <a routerLink="/Impressum">Impressum</a>
        </div>

    </div>

</div>