@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap");
@import "/src/app/header.scss";

$fontsizeHeading: 1.8rem;
$fontsizeFließtext: 1.2rem;
$fontsizeHeadinggroß: 5rem;
$fontsizeFließtextgroß: 3rem;
$Abstandfließtext: 15px;
$Abstandfließtextgroß: 100px;

.gridcontainer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo" "text" "werte" "bottom";
    position: absolute;
    top: 80px;
    grid-row-gap: 15px;
}



@media only screen and (min-width: 1200px) {
    .textgrößeüberschriften {
        font-size: $fontsizeHeadinggroß;
    }

    .textgrößefießtext {
        font-size: $fontsizeFließtextgroß;
    }
    
    .fließtext {
        text-align: justify;
        padding: 0 20px;
        margin: 0 $Abstandfließtextgroß;
        font-family: "Rajdhani", sans-serif;
    }    
    
}
